v
<section>
  <h1>Postagens :</h1>
  <article>
    <header>
      <h2><a>Titulo da postagem</a></h2>
    </header>
    <p>
      ashkjasdhiklsalk ajs kljaklsjklasj kam,sj klajs kjalks jlkajskl klasjlka
      klsja lkja kljas kljakjsakl j klajs klajs lkajs klaj slkajs klaj sklaj
      klaj slkj akls jakls jalk jlaksj alksj
    </p>
  </article>
  <article>
    <header>
      <h2><a>Titulo da postagem</a></h2>
    </header>
    <p>
      ashkjasdhiklsalk ajs kljaklsjklasj kam,sj klajs kjalks jlkajskl klasjlka
      klsja lkja kljas kljakjsakl j klajs klajs lkajs klaj slkajs klaj sklaj
      klaj slkj akls jakls jalk jlaksj alksj
    </p>
  </article>
  <article>
    <header>
      <h2><a>Titulo da postagem</a></h2>
    </header>
    <p>
      ashkjasdhiklsalk ajs kljaklsjklasj kam,sj klajs kjalks jlkajskl klasjlka
      klsja lkja kljas kljakjsakl j klajs klajs lkajs klaj slkajs klaj sklaj
      klaj slkj akls jakls jalk jlaksj alksj
    </p>
  </article>
  <article>
    <header>
      <h2><a>Titulo da postagem</a></h2>
    </header>
    <p>
      ashkjasdhiklsalk ajs kljaklsjklasj kam,sj klajs kjalks jlkajskl klasjlka
      klsja lkja kljas kljakjsakl j klajs klajs lkajs klaj slkajs klaj sklaj
      klaj slkj akls jakls jalk jlaksj alksj
    </p>
  </article>
  <article>
    <header>
      <h2><a>Titulo da postagem</a></h2>
    </header>
    <p>
      ashkjasdhiklsalk ajs kljaklsjklasj kam,sj klajs kjalks jlkajskl klasjlka
      klsja lkja kljas kljakjsakl j klajs klajs lkajs klaj slkajs klaj sklaj
      klaj slkj akls jakls jalk jlaksj alksj
    </p>
  </article>
</section>
